<?xml version="1.0" ?>
<robot name="URDF" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find URDF_description)/urdf/materials.xacro" />
<xacro:include filename="$(find URDF_description)/urdf/URDF.trans" />
<xacro:include filename="$(find URDF_description)/urdf/URDF.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.011839182746535918 0.008528469020843765 0.3484661260584956" rpy="0 0 0"/>
    <mass value="0.38761529111787346"/>
    <inertia ixx="0.00075" iyy="0.00027" izz="0.000705" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://URDF_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://URDF_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
