<?xml version="1.0" ?>
<robot name="URDF" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find URDF_description)/urdf/materials.xacro" />
<xacro:include filename="$(find URDF_description)/urdf/URDF.trans" />
<xacro:include filename="$(find URDF_description)/urdf/URDF.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.01169404429153978 0.009220039121267613 0.3600949612031604" rpy="0 0 0"/>
    <mass value="2.0327924273377787"/>
    <inertia ixx="0.003401" iyy="0.001014" izz="0.003004" ixy="-2e-06" iyz="-2.1e-05" ixz="2e-06"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://URDF_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://URDF_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
